$main-color: #a77e42;
$main-color-hover: #bd8f4b;
$bg-main: #1e1d1f;
$border-color: #555456;
$bg-block: #222224;
$bg-block-hover: #2c2c2c;
$text-color-main: #ffffff;
$text-color-main-two: #7a7a7b;


$mobile1: "min-width: 360px";
$mobile2: "min-width: 400px";
$mobile3: "min-width: 540px";
$tablet1: "min-width: 768px";
$tablet2: "min-width: 992px";
$desktop1: "min-width: 1200px";
$desktop2: "min-width: 1400px";
$desktop3: "min-width: 1640px";
