<section class="article">
  <div class="container">
    <div class="article__box">
      <div class="row">
        <div class="article__box-date">06/05/2019</div>
        <div class="article__box-marker marker-article">Статьи</div>
      </div>
      <h1 class="title title-h1">Танцы для детей</h1>
      <div class="article__box-img">
        <img src="./img/blog-05.jpg" alt="">
      </div>
      <div class="article__box-text">
        <p>Удивительные вещи таит в себе искусство танца. Это самовыражение, грация и новое жизненное восприятие – все то, что так необходимо в сложной современной жизни. Танцы для детей – возможность для Вашего ребенка открыть себя. Сегодня он просто радуется танцу, а завтра откроется для развития спорта и искусства, тяги ко всему новому.</p><br>
        <p><b>Польза от занятий танцами с раннего возраста</b> очевидна. Ребенок получает возможность активного и правильного движения, соединенного в гармонии с музыкой.</p><br>
        <p>Что дают занятия танцем:</p>
        <ul>
          <li>Элементы тренировок.</li>
          <li>Красивую осанку и уверенную походку.</li>
          <li>Изучение танца и ритма.</li>
          <li>Отличное настроение и эмоциональную разгрузку.</li>
        </ul><br>
        <p><b>Школа в Солнцево</b> направлена на индивидуальное развитие детей. Здесь все для озорных любителей танца – много света и музыки, прыжков, хлопков, упражнений. Ребята, которые занимаются танцами, активны, у них правильное чувство ритма и хорошая пластика.</p><br>
        <p>Детские группы хип-хоп – конечно, наше преимущество. Мы с радостью замечаем, как в сочетании с музыкой, во время занятий развивается и динамика движений.</p><br>
        <p>Ребята учатся понимать, что такое танец, и с удивлением обнаруживают, что это не заданный формат по образцу. Неудивительно поэтому, что вскоре родители замечают улучшение общего самочувствия и проявление интереса к занятиям спортом и танцем.</p><br>
        <p><b>Какое танцевальное направление выбрать?</b></p>
        <p>Ответ на этот вопрос – устойчивый интерес, возможности и желания самого ребенка, умение выполнять отдельные танцевальные элементы. Если ритм привлекает Вашего ребенка, почему бы не попробовать соединить спорт и танец? Ритм взят за основу, движения простые в исполнении, и всегда отражают повседневные образы. Современные танцы без нудного заучивания движений – у нас нет места для скуки!</p><br>
        <p>Клубные танцы как спортивное направление с высоким художественным воздействием, очень популярны. Занятия, действительно, эффективны и вполне похожи на фитнес-тренировки. Основные танцевальные направления, включенные в обучение, Вы можете найти в плане расписаний.</p><br>
        <p><b>Профессиональные занятия танцами</b> могут стать уверенным подходом к пониманию Вашего ребенка. Здесь очень важен персональный подход к ребенку, и вовсе не вес, рост и комплекция. Наша задача – научить свободе движений, что становится возможным благодаря отточенному мастерству тренерского состава. Современный подход и профессиональный взгляд опытного тренера – несомненно, дают положительный результат. Обучение танцу в спортклубе Солнцево будет плановым и регулярным. Занятия воспринимаются детьми с неподдельным интересом.</p><br>
        <p><b>Танцы для мальчиков – дилемма для многих родителей.</b> На самом деле, сомнения здесь ничем не обоснованы. В танце происходит естественное природное раскрытие, возрождается гармония. В танцевальном ритме удобней и легче оценить возможности и способности человека. И при абсолютно неважно, мальчик это или девочка.</p><br>
        <p><b>Плюсы регулярных занятий танцами:</b></p>
        <ul>
          <li>Высокая пластика и четкая организация движений.</li>
          <li>Подвижность тела и хорошая реакция.</li>
          <li>Обретение уверенности в себе и своих возможностях.</li>
          <li>Поддержание интереса к танцу, спортивным занятиям и регулярным тренировкам.</li>
        </ul>
        <p>Занятия танцами проводятся без ограничений по возрасту для детей и взрослых. Это зрелищные элементы спорта и танца для души!</p><br>
        <p><b>Где на юге Москвы (ЮЗАО) можно отдать на обучение танцам ребенка?</b></p>
        <p>Обучение эффективно только в профессионально организованном спортивном клубе, где проводятся занятия на постоянной основе коллективом тренерского состава, где все группы формируются с учетом возраста ребенка. E.Club оснащен необходимым современным оборудованием для всех видов спортивных тренировок, обладает великолепным опытным тренерским составом.</p><br>
        <p><b>Занятия танцами в Солнцево</b> – отличная возможность направить и развить интерес к танцу и спорту, выполнить желание Вашего ребенка.</p>
      </div>
      <a class="article__box-link" href="./blog.html">Назад к статьям</a>
    </div>
    <div class="article__more">
      <div class="article__popular">
        <div class="title title-h2">Популярное</div>
        <div class="blog__list">
          <div class="blog__box">
            <div class="blog__box-img">
              <img src="./img/blog-01_2.jpg" alt="">
            </div>
            <div class="blog__box-info">
              <div class="blog__box-date">25/06/2021</div>
              <div class="blog__box-caption">Ни минуты не теряя, мы здоровье укрепляем</div>
            </div>
            <a class="blog__box-link" href="./article.html"></a>
          </div>
          <div class="blog__box">
            <div class="blog__box-img">
              <img src="./img/blog-02.jpg" alt="">
            </div>
            <div class="blog__box-info">
              <div class="blog__box-date">06/05/2019</div>
              <div class="blog__box-caption">Подходящее время для тренировок</div>
            </div>
            <a class="blog__box-link" href="./article.html"></a>
          </div>
          <div class="blog__box">
            <div class="blog__box-img">
              <img src="./img/blog-03.jpg" alt="">
            </div>
            <div class="blog__box-info">
              <div class="blog__box-date">06/05/2019</div>
              <div class="blog__box-caption">Причины записаться на единоборства</div>
            </div>
            <a class="blog__box-link" href="./article.html"></a>
          </div>
          <div class="blog__box">
            <div class="blog__box-img">
              <img src="./img/blog-04.jpg" alt="">
            </div>
            <div class="blog__box-info">
              <div class="blog__box-date">06/05/2019</div>
              <div class="blog__box-caption">Персональный тренинг</div>
            </div>
            <a class="blog__box-link" href="./article.html"></a>
          </div>
          <div class="blog__box">
            <div class="blog__box-img">
              <img src="./img/blog-05.jpg" alt="">
            </div>
            <div class="blog__box-info">
              <div class="blog__box-date">06/05/2019</div>
              <div class="blog__box-caption">Занятия хип-хопом для детей</div>
            </div>
            <a class="blog__box-link" href="./article.html"></a>
          </div>
          <div class="blog__box">
            <div class="blog__box-img">
              <img src="./img/blog-07.jpg" alt="">
            </div>
            <div class="blog__box-info">
              <div class="blog__box-date">25/04/2019</div>
              <div class="blog__box-caption">Хип-хоп для всех</div>
            </div>
            <a class="blog__box-link" href="./article.html"></a>
          </div>
        </div>
      </div>
      <div class="subscribe">
        <div class="title title-h2">Подписывайтесь</div>
        <form class="subscribe__form">
          <div class="subscribe__form-caption">Получайте информацию об акциях и полезных статьях первыми</div>

          @@include("./input.html", {
            context: {
              required: true,
              type: 'email',
              label: 'E-mail',
              icon: '<svg width="512" height="512" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="m331.756 277.251-42.881 43.026c-17.389 17.45-47.985 17.826-65.75 0l-42.883-43.026L26.226 431.767C31.959 434.418 38.28 436 45 436h422c6.72 0 13.039-1.58 18.77-4.232L331.756 277.251z" data-original="#000000" class=""></path><path d="M467 76H45c-6.72 0-13.041 1.582-18.772 4.233l164.577 165.123c.011.011.024.013.035.024a.05.05 0 0 1 .013.026l53.513 53.69c5.684 5.684 17.586 5.684 23.27 0l53.502-53.681s.013-.024.024-.035c0 0 .024-.013.035-.024L485.77 80.232C480.039 77.58 473.72 76 467 76zM4.786 101.212C1.82 107.21 0 113.868 0 121v270c0 7.132 1.818 13.79 4.785 19.788l154.283-154.783L4.786 101.212zM507.214 101.21 352.933 256.005 507.214 410.79C510.18 404.792 512 398.134 512 391V121c0-7.134-1.82-13.792-4.786-19.79z" data-original="#000000" class=""></path></g></svg>',
            }
          })

          <button class="btn btn-small btn-gold" type="submit">Подписаться на рассылку</button>

          @@include("./checkbox.html", {
            context: {
              required: true,
              checked: '',
              name: '',
              text: 'Я согласен с политикой конфиденциальности и даю согласие на обработку персональных данных',
            }
          })

        </form>
      </div>
    </div>
  </div>
</section>
