<section class="club">
  <div class="club__video" >
    <video autoplay loop muted>
      <source src="./video/video-1.mp4" type="video/mp4"/>
    </video>
  </div>
  <div class="container">

    @@include("./breadcrumbs.html", {
      context: {
        title: '',
        lastBreadcrumb: 'О клубе',
        arr: [
          {'text': 'Главная', 'link': './'},
        ],
      }
    })

    <div class="club__info">
      <h1 class="title title-h2">«<span>Ваш результат</span> — наша цель»</h1>
      <div class="club__description">
        У нас есть всё необходимое для создания красивого и здорового тела. E.Club оснащён современным оборудованием для комфортных занятий спортом. В комплекс входит тренажёрный зал, зона единоборств, зал групповых программ, а также зона функционального тренинга. После тренировки приглашаем расслабиться в сауне.<br><br>
        В нашей команде работают сертифицированные специалисты, которые помогут достичь результата без ущерба для здоровья. Возраст — не помеха фитнесу и здоровому образу жизни: для детей у нас работают танцевальные и спортивные студии, для старшего поколения открыты группы ЛФК и йоги.
      </div>
      <a class="btn btn-big btn-gold js-popup" href="#request">Заказать тур по клубу</a>
    </div>

  </div>
</section>
