<section class="contacts">
  <div class="container">
    <div class="row">
      <h2 class="title title-h2"><span>Контакты </span>клуба</h2>
    </div>
  </div>
  <div class="contacts__wrapper">
    <div id="map" class="contacts__map"></div>
    <div class="container">
      <div class="contacts__box">
        <a class="contacts__box-phone" href="tel:+74951504557">+7 (495) 150-45-57</a>
        <div class="contacts__box-address">Москва, ТРЦ «Солнцево-Парк»,<br> ул. Лётчика Ульянина, д. 5</div>
        <a class="contacts__box-mail" href="mailto:info@ecofitpro.ru">info@ecofitpro.ru</a>
        <div class="contacts__box-station station-yellow">м. Рассказовка</div>
        <div class="contacts__box-station station-red">м. Саларьево</div>
        <a class="btn btn-big btn-gold js-popup" href="#call">Обратный звонок</a>
      </div>
    </div>
  </div>
</section>
