@import "partials/params";
@import "partials/mixins";

.footer {
  position: relative;
  background: $bg-main;
  box-shadow: 0 -4px 22px rgba(255,255,255, 0.05);
  z-index: 10;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    @media screen and ($tablet2) {
      height: 80px;
    }
    @media screen and ($desktop1) {
      height: 90px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    transition: transform 0.5s;

    & img {
      height: 36px;
      @media screen and ($tablet2) {
        height: 40px;
      }
      @media screen and ($desktop1) {
        height: 44px;
      }
      @media screen and ($desktop2) {
        height: 48px;
      }
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  &__info {
    display: none;
    @media screen and ($desktop1) {
      display: block;
    }
  }

  &__address {
    @media screen and ($desktop1) {
      display: flex;
      align-items: center;
    }

    & span {
      @media screen and ($desktop1) {
        font-size: 13px;
        color: $text-color-main-two;
        line-height: 1.6em;
        margin-left: 8px;
      }
      @media screen and ($desktop2) {
        font-size: 14px;
      }
      @media screen and ($desktop3) {
        font-size: 16px;
      }
    }

    & svg {
      @media screen and ($desktop1) {
        width: 16px;
        height: 16px;
        fill: $main-color;
      }
      @media screen and ($desktop2) {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__time {
    @media screen and ($desktop1) {
      font-size: 13px;
      color: $text-color-main-two;
      line-height: 1.6em;
      margin-left: 24px;
      @media screen and ($desktop2) {
        font-size: 14px;
        margin-left: 26px;
      }
      @media screen and ($desktop3) {
        font-size: 16px;
      }
    }
  }

  &__phone {
    display: none;
    @media screen and ($tablet1) {
      display: block;
      transition: color 0.3s;
    }
    @media screen and ($tablet2) {
      font-size: 16px;
    }

    &:hover {
      color: $main-color-hover;
    }
  }

  &__email {
    display: none;
    @media screen and ($tablet1) {
      display: block;
      color: $main-color;
      transition: color 0.3s;
    }
    @media screen and ($tablet2) {
      font-size: 16px;
    }

    &:hover {
      color: $main-color-hover;
    }
  }
}
