@import "partials/params";
@import "partials/mixins";

.intro {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
  @media screen and ($tablet2) {
    height: calc(100vh - 80px);
  }
  @media screen and ($desktop1) {
    height: calc(100vh - 90px);
  }

  & .swiper-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 1;
  }

  & .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  & .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  & .swiper-button-next,
  & .swiper-button-prev {
    position: absolute;
    top: calc(100% - 15px);
    transform: translate(-50%, -50%);
    width: 8px;
    height: 14px;
    z-index: 10;
    cursor: pointer;
    pointer-events: auto;
    background-image: none;
    @media screen and ($tablet1) {
      top: calc(100% - 32px);
    }

    & svg {
      width: 100%;
      height: 100%;
      stroke: $main-color-hover;
      z-index: 1;
      transition: stroke 0.3s;
    }

    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #111;
      z-index: -1;
      opacity: 0.5;
      transition: opacity 0.3s, background-color 0.3s;
    }

    &:hover {
      & svg {
        stroke: $bg-main;
      }

      &:before {
        background-color: $main-color-hover;
        opacity: 1;
      }
    }
  }

  & .swiper-button-next {
    left: 75px;
    right: initial;
    @media screen and ($tablet1) {
      left: 92px;
    }

    &:before {
      border-radius: 0 8px 8px 0;
    }
  }

  & .swiper-button-prev {
    left: 35px;
    @media screen and ($tablet1) {
      left: 52px;
    }

    &:before {
      border-radius: 8px 0 0 8px;
    }
  }

  & .swiper-pagination {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    top: initial;
    bottom: 15px;
    right: 15px;
    transform: translateY(0);
    z-index: 10;
    pointer-events: auto;
    @media screen and ($tablet1) {
      bottom: 32px;
      right: 32px;
    }
  }

  & .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 14px 0;
    display: block;
  }

  & .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }

  & .swiper-pagination-bullet {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid $text-color-main;
    display: inline-block;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s, background-color 0.3s, border 0.3s;

    &:hover {
      opacity: 1;
    }

    &:first-child:before {
      content: "01.";
    }

    &:nth-child(2):before {
      content: "02.";
    }

    &:nth-child(3):before {
      content: "03.";
    }

    &:nth-child(4):before {
      content: "04.";
    }

    &::before {
      position: absolute;
      left: -57px;
      top: 0;
      color: $text-color-main;
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
    }

    &::after {
      position: absolute;
      content: "";
      left: -30px;
      top: 6px;
      width: 20px;
      height: 1px;
      background-color: #999999;
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
    }
  }

  & .swiper-pagination-bullet-active {
    opacity: 1;
    border: 2px solid $main-color-hover;
    background-color: $main-color-hover;

    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }
  }

  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;

      & img {
        width: 100%;
        height: 100%;
        object-position: 55% 50%;
        object-fit: cover;
        @media screen and ($tablet1) {
          object-position: 72% 50%;
        }
        @media screen and ($tablet2) {
          object-position: 50% 50%;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, $bg-main, transparent);
        pointer-events: none;
      }

      /*&:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, $bg-main, transparent, transparent, transparent);
        pointer-events: none;
      }*/
    }

    & .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 70px;
      height: 100%;
      z-index: 3;
      @media screen and ($tablet1) {
        padding-bottom: 104px;
      }
    }

    &-caption {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 5px;
      @media screen and ($mobile3) {
        font-size: 42px;
        max-width: 370px;
        margin-bottom: 10px;
      }
      @media screen and ($tablet1) {
        max-width: 420px;
        font-size: 48px;
      }
      @media screen and ($desktop1) {
        max-width: 500px;
        font-size: 60px;
        margin-bottom: 16px;
      }
      @media screen and ($desktop2) {
        font-size: 72px;
        max-width: 740px;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 1.4em;
      margin-bottom: 20px;
      @media screen and ($mobile3) {
        font-size: 18px;
        max-width: 370px;
      }
      @media screen and ($tablet1) {
        margin-bottom: 32px;
      }
      @media screen and ($desktop1) {
        font-size: 20px;
        max-width: 420px;
      }
      @media screen and ($desktop2) {
        font-size: 22px;
        max-width: 450px;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 20px;
    @media screen and ($tablet1) {
      margin-top: 32px;
    }

    &-link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-right: 24px;

      & svg {
        width: 100%;
        height: 100%;
        fill: #444;
        transition: fill 0.3s;
      }

      &:hover {
        & svg {
          fill: $main-color-hover;
        }
      }
    }
  }

  & > .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
